body {
    background: linear-gradient(to bottom left, 
                hsla(0, 0%, 100%, 0.3) 0%, 
                #3e1a75 0%,        
                #2a0d54 5%,    
                #1a0c34 10%,
                #000000 50%,    
                #1a0c34 90%,    
                #2a0d54 95%,     
                #3e1a75 100%,
                hsla(0, 0%, 100%, 0.3) 100%); 
    min-height: 100vh;  
    margin: 0;
    padding: 0;
    color: white;
    display: flex;
    flex-direction: column;  
    justify-content: center; 
    align-items: center;
    width: 100vw;  
    overflow: hidden;  
    font-family: Montserrat, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

header {
    width: 95%;
    max-width: 788px;
    display: flex;
    justify-content: flex-start; 
    padding: 20px;  /* Increased padding */
    margin-top: 20px;
}

.share-button {
    width: 60px;  /* Increased size */
    height: 60px; 
    border-radius: 30px;  /* Adjusted for larger size */
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.container {
    width: 95%;  /* Increased container width */
    max-width: 800px;  /* Increased max width */
    margin: 20px;
    display: flex;
    flex-direction: column;  
    align-items: center;  
    justify-content: center; 
    flex-grow: 1;
    padding-bottom: 40px;  /* Increased padding */
}

.tile {
    height: 80px;  /* Increased height */
    width: 100%;
    background-color: white;
    margin: 10px 0;  /* Increased margin */
    border-radius: 25px;  /* Increased border-radius */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 30px;  /* Increased padding */
    text-decoration: none; 
    color: black; 
    font-size: 20px;  /* Increased font size */
    text-align: center; 
}

.tile:hover {
    background-color: #3e1a75; 
    color: white;  
    transform: scale(1.1);  /* Increased hover effect */
}

.icon {
    width: 32px;  /* Larger icon */
    height: 32px;  
    margin-right: 15px;  /* Increased space */
}

img {
    width: 200px;  /* Larger image */
    height: 200px;
    border-radius: 50px;
    object-fit: cover;
}

h1 {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    margin: 0;
    color: white;
    flex-shrink: 0;  
    font-size: 6vw;  /* Larger font size */
}

p {
    margin-right: 40px;  /* Increased margin */
    color: rgb(0, 0, 0); 
    font-size: 28px;  /* Increased font size */
    font-weight: bold;
    width: 100%;  
    text-align: center;  
    padding: 0;
}
